/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Josefin sans;
    font-size: 20px;
    margin: 0;
    background-color: rgb(191, 191, 191);
}



/* Top data */
.top-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #666;
}
.data-detail {
    width: 32%;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 30px;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.data-detail p {
    margin-top:0;
}
.data-detail h4 {
    margin-bottom: 0;
}



.card-container{
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap ;
    justify-content: center;
}

section img {
    height: 50px;
    width: 300px; 
     border-width: 20px;
    }

