*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Josefin sans;
    font-size: 20px;
    margin: 0;
    background-color: rgb(232, 229, 229);
}

.album-card{
    color: #777;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.album-card img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px; 
    
}
.album-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.album-card p {
    margin: 3px 0;
}

.more{
    color: blue;
    text-align: right;
}
.delete {
    color: red;
    text-align: right;
}
.more:hover,
.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}