*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Josefin sans;
    font-size: 20px;
    margin: 0;
    background-color: rgb(232, 229, 229);
}

/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #bda9d9;
    color: rgb(255, 255, 255)
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.main-nav li:first-child {
    font-weight: bold;
}

.user img {
    width: 50px;
    border-radius: 90%;
    margin-left: 10px;
}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
}